
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  background-color: rgb(133, 23, 105);
  
}

#heading{
  color:rgb(212, 158, 237);
  text-shadow: 4px 0px 4px rgb(180, 196, 225);
  font-size: 40px;
 
}

.parent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 13px 4px 13px 4px;
  row-gap:30px;
  width:100%;
  height:100%;
  background-image: linear-gradient(rgb(218, 183, 236),rgb(234, 138, 229));
  margin:auto;
}




#text{
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  width:300px;
  height:700px
  
 
  
}
#child1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  font-size: 13px;
  
 
}
 
  #child2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
   
  
  }
  #fonts{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
   
    
  }
  
  #text{
    height:350px;
    width: 350px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;


  }
  
  #download-btn{
    height: 45px;
    padding: 2px 5px 2px 5px;
    width: fit-content;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(162, 24, 144);
  }
  
  
  #violet{
    height: 45px;
    width: 45px;
    background-color:violet;
    border: none;
    cursor: pointer;
  }
  
  #red{
    height: 45px;
    width: 45px;
    background-color: red;
    border: none;
    cursor: pointer;
  }
  
  #green{
    height: 45px;
    width: 45px;
    background-color:green;
    border: none;
    cursor: pointer;
  }
  
  #coral{
    height: 45px;
    width: 45px;
    background-color: rgb(208, 83, 37);
    border: none;
    cursor: pointer;
  }
  #purple{
    height: 45px;
    width: 45px;
    background-color: purple;
    border: none;
    cursor: pointer;
  }
  #yellow{
    height: 45px;
    width: 45px;
    background-color: yellow;
    border: none;
    cursor: pointer;
  }
  #darkpink{
    height: 45px;
    width: 45px;
    background-color: pink;
    border: none;
    cursor: pointer;
  }
  #skyblue{
    height: 45px;
    width: 45px;
    background-color:navy;
    border: none;
    cursor: pointer;
  }
  #orange{
    height: 45px;
    width: 45px;
    background-color:orange;
    border: none;
    cursor: pointer;
  }
  #pink{
    height: 45px;
    width: 45px;
    background-color:rgb(162, 91, 200);
    border: none;
    cursor: pointer;
  }
  #blue{
    height: 45px;
    width: 45px;
    background-color:blue;
    border: none;
    cursor: pointer;
  }
 
  #mediumvioletred{
    height: 45px;
    width: 45px;
    background-color:mediumvioletred;
    border: none;
    cursor: pointer;
  }
  #lime{
    height: 45px;
    width: 45px;
    background-color:lime;
    border: none;
    cursor: pointer;
  }
  #slategray{
    height: 45px;
    width: 45px;
    background-color:slategray;
    border: none;
    cursor: pointer;
  }
  #teal{
    height: 45px;
    width: 45px;
    background-color:teal;
    border: none;
    cursor: pointer;
  }
  #lavender{
    height: 45px;
    width: 45px;
    background-color:lavender;
    border: none;
    cursor: pointer;
  }
  #indigo{
    height: 45px;
    width: 45px;
    background-color:indigo;
    border: none;
    cursor: pointer;
  }
  #salmon{
    height: 45px;
    width: 45px;
    background-color:salmon;
    border: none;
    cursor: pointer;
  }
  #olive{
    height: 45px;
    width: 45px;
    background-color:olive;
    border: none;
    cursor: pointer;
  }
  #text-color{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 10px 0;
    row-gap: 20px;
   
  }

  
  #bg-color{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 10px 0 10px 0;
    
   
  }
  
  
  #text-color-names{
    display: grid;
    grid-template-columns: repeat(10,1fr );
   width:100%;
   max-width:600px;
    column-gap: 10px;
    row-gap: 10px;
  }
  #font-family{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    

  }@media (max-width:600px){
    #text-color-names{
      grid-template-columns: repeat(5,1fr );
    }
  }
  
  
  #sub-heading{
    font-size: 25px;
    color:rgb(181, 8, 152);
    text-shadow: 5px 7px 10px white;
  }
  
  #times-new{
    font-family: 'Times New Roman', Times, serif;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
   
  }
  
  #cursive{
    font-family: cursive;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
  }
  
  #verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
    
  }
  
  #arial{
    font-family: Arial, Helvetica, sans-serif;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
  }
  
  #impact{
    font-family: Impact;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
  }
 
  #monospace{
    font-family: monospace;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: black;
    background-color: rgb(225, 217, 217);
    cursor:pointer;
  }
  #bg-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
   

  }
  #bg-img1{
    width:50px;
    height:50px;
    background-image:url("/images/sky.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img2{
    width:50px;
    height:50px;
    background-image:url("/images/beach.webp");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img3{
    width:50px;
    height:50px;
    background-image:url("/images/blueflower.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img4{
    width:50px;
    height:50px;
    background-image:url("/images/forest.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img5{
    width:50px;
    height:50px;
    background-image:url("/images/flower.avif");
    background-size: cover;
    border: none;
    cursor: pointer;
  } 
  #bg-img6{
    width:50px;
    height:50px;
    background-image:url("/images/ocean.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img7{
    width:50px;
    height:50px;
    background-image:url("/images/sun.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img8{
    width:50px;
    height:50px;
    background-image:url("/images/sunshine.avif");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img9{
    width:50px;
    height:50px;
    background-image:url("/images/pinkflower.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img10{
    width:50px;
    height:50px;
    background-image:url("/images/moon.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img11{
    width:50px;
    height:50px;
    background-image:url("/images/mountain.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img12{
    width:50px;
    height:50px;
    background-image:url("/images/lily.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img13{
    width:50px;
    height:50px;
    background-image:url("/images/night.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #bg-img14{
    width:50px;
    height:50px;
    background-image:url("/images/road.jpg");
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  #images{
    display: grid;
    grid-template-columns: repeat(7,1fr );
   width:100%;
   max-width:600px;
    column-gap: 10px;
    row-gap: 10px;
  }
  @media (max-width:600px){
    #images{
      grid-template-columns: repeat(4,1fr );
    }
  }
  #btn{
    width: 60px;
    height: 30px;
    background-color: rgb(130, 30, 133);
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
    
  }
  #font{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    column-gap: 20px;
  }